.editor-container{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  .title {
    height: 64px;
    padding: 13px;
    margin: 0;
    cursor: text;
  }

  .content{
    flex: 1;
    padding: 13px;
    cursor: text;
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}
