<div class="editor-container">
  <div contenteditable
       (input)="onTitleChange($any($event.target).innerText)"
       [innerHTML]="editableNote.name"
       class="title mat-h1">
  </div>
  <div class="content">
    <div class="input"
      [mention]="tags"
      [mentionConfig]="mentionConfig"
      (input)="onContentChange($any($event.target).innerHTML)"
      (keyup)="styleTag($event)"
       [innerHTML]="content"
      contenteditable >
    </div>
    <div [innerHTML]="editableNote.content" class="below">
    </div>
  </div>
</div>
